<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<main id="templater"></main>
	<script src="Core.js"></script>
	<script>
		var temp = new JSTepmplater();
		var tempobj = {
			name: [
				{
					"hello": [
						'Hello, my name is Borislav!'
					]
				}
			],
			firstName: 'Borislav',
			lastName: 'Rangelov'
		};
		temp.regurnObjects = false;
		var html = '<%=name[0][\'hello\'][0];%><br><%=firstName;%><br><%=lastName;%>';
		var text = temp.load(html, tempobj);
		document.getElementById('templater').innerHTML = text;
	</script>
</body>
</html>